@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--Címsor definiálása-->
    <h1>ASP.NET</h1>

    <!--Magyarázat definiálása-->
    <p class="lead">@MultiLanguageWebApplication.Resources.Home.HomeIndexTexts.ASPNETExplain</p>
    
    <!--LearnMore btn definiálása-->
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">@MultiLanguageWebApplication.Resources.Home.HomeIndexTexts.LearnMoreBtn &raquo;</a></p>
</div>