@{
    ViewBag.Title = "Second Page";
}

<div class="jumbotron">
    <!--Címsor definiálása-->
    <h1>@MultiLanguageWebApplication.Resources.SecondPage.SecondPageIndexTexts.HeaderText</h1>
    
    <!--Tartalom definiálása-->
    <p class="lead">@MultiLanguageWebApplication.Resources.SecondPage.SecondPageIndexTexts.ContentText</p>
    
    <!--BackBtn definiálása-->
    <p><a href="../" class="btn btn-primary btn-lg">&lArr; @MultiLanguageWebApplication.Resources.SecondPage.SecondPageIndexTexts.BackBtn</a></p>
</div>

